@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputText">Email address</label>
                    <input type="text" class="form-control" id="exampleInputText" placeholder="Your city">
                </div>
                <button type="submit" class="btn btn-success">Search</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="map"></div>
        <div class="col-md-2"></div>
    </div>
</div>


