 html, body {
            height: 100%;
            margin: 0;
            padding: 40px;
        }

        #map {
            height: 600px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
